.flex-container {
  flex: 1 1 auto;
  justify-content: space-between;
}

.nav-brand {
  width: 150px;
}

.mat-toolbar, .navbar-gradient {
  // Generated gradient, courtesy of https://cssgradient.io/
  background: rgb(21, 7, 83);
  background: linear-gradient(
    135deg,
    rgba(21, 7, 83, 1) 0%,
    rgba(121, 27, 187, 1) 23%,
    rgba(205, 73, 187, 1) 69%,
    rgba(221, 101, 3, 1) 100%
  );
  filter: contrast(125%);

  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

a.mat-icon-button {
  margin-right: 1em;
  display: inline-block;

  i.fab {
    font-size: 1.8em;
  }
}

.nav-menu {
  .mat-raised-button {
    margin-right: 30px;
    width: 100px;
    // background-color: rgba($color: #fff, $alpha: .5);

    // Generated glassmorphism, https://hype4.academy/tools/glassmorphism-generator
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}
