<main class="flex-container">
  <div 
    *ngFor="let blog of blogs"
    class="container"
    >
    <mat-card class="example-card">
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title [style.marginBottom]="'25px'">Blog Post {{ blog }}</mat-card-title>
        <mat-card-subtitle>
          <mat-chip-list>
            <span [style.marginRight]="'10px'">
              Tags:
            </span>
            <mat-chip color="warn">Programming</mat-chip>
            <mat-chip color="primary">Blog</mat-chip>
            <mat-chip color="accent">Daily life</mat-chip>
          </mat-chip-list>
        </mat-card-subtitle> 
      </mat-card-header>
      <mat-card-content [style.marginTop]="'1em'">
        <img mat-card-image src="https://random.imagecdn.app/400/400" alt="">
      </mat-card-content>
      <mat-card-footer [style.padding]="'0 1rem'">
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-footer>
      <!-- <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions> -->
    </mat-card>
  </div>
</main>
