.flex-container {
  flex: 1 0 auto;
  flex-flow: row wrap;
  justify-content: left;
  columns: 3;
}

.container {
  box-sizing: border-box;
  width: 30%;
}

.mat-card {
  width: 100%;
}

.mat-chip {
  color: #999;
  font-size: .85em;
  padding: 6px 8px;
  border-radius: 12px;
}

.mat-chip:hover {
  color: #eee;
}


// @media screen and (max-width: 900px) {
//   .flex-container {
//     columns: 2;
//   }

//   .container {
//     width: 45%;
//   }
// }

// @media screen and (max-width: 600px) {
//   .flex-container {
//     columns: 1;
//   }

//   main {
//     margin: 0;
//   }
// }